<!-- OVERVIEW -->
<!--<div class="row">
    <div class="col-lg-3 col-sm-6">
        <overview-card [values]="overview_1"></overview-card>
    </div>
    <div class="col-lg-3 col-sm-6">
        <overview-card [values]="overview_2"></overview-card>
    </div>
    <div class="col-lg-3 col-sm-6">
        <overview-card [values]="overview_3"></overview-card>
    </div>
    <div class="col-lg-3 col-sm-6">
        <overview-card [values]="overview_4"></overview-card>
    </div>
</div>-->
<!-- MAP -->
<div class="container-fluid">
    <div>
        <map-cop [id]="'crowd'" [pre_selected_filters]="selFilters"></map-cop>
    </div>
</div>

<!--<div [innerHTML]="noiseCapture | safeHtml"></div>-->


<!-- Iframe noise capture party -->
<!--
<div class="row">
        <div class="col-md-12">
            <div>
                <h2>Noise Capture Party</h2>
                <button (click)="showDiv = !showDiv" class="btn btn-sm pull-right">
                    <span class="ti-flickr"></span>
                </button>
            </div>
            <div>
                <iframe *ngIf="showDiv" src="//nicolas-f.github.io/noisecapture_embed/#13/45.7660/4.8356/H2020Monica_Lyon2019"
                    style="width: 100%; height:500px;"></iframe>
                <a target="_blank" href="https://nicolas-f.github.io/noisecapture_embed/#13/45.7660/4.8356/H2020Monica_Lyon2019"
                    class="btn btn-fill btn-default">View full page</a>
            </div>
        </div>
    </div>
-->

    
<!-- <div>
    <map-heatmap-layer></map-heatmap-layer>
</div> -->